.inputGroup {
  background-color: #fff;
  display: block;
  margin: 1px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  font-size:15px;
  font-weight:400;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color:#b3ffec;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
 /*width: 32px;*/
  /*height: 32px;*/
  content: '';
  border: 2px solid #D1D7DC;
  background-color:#fff; 
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #3C454C;
  
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 20px;
  height: 20px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

*::before,
*::after {
  box-ssizinin;
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}




.btn-success1
{
    background-color: #B7E3AE;
    
}

.btn-danger1
{
    background-color: #F59CAE;
}
.attept
{
    background-color:#51FF85;
}
.wrong
{
    background-color:#FF0000;
    color:white;
}


        
            div.example {
                font-size: 15px;
            }
      
 
            .example1 {
                font-size: 17px;
            }
       

        .book_yes {
           fill: green;
       }

       .book_no {
           fill: gray;
       }
.body1
{
    margin-left:10%;
    margin-right:10%;
}
#nevigate
{
	position:fixed;
	bottom:0px;
	margin-left:-1%;
}
.add
{
	position:fixed;
	bottom:0px;
	margin-left:-30px;
}
.center-div
{
  width: 100%;
  margin: 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
       #snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button2 {
 /* background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius:10%;*/
  background-image:linear-gradient(to right,#fc6076,#ff9a44,#ef9d43,#e75516);
  box-shadow: 0 4px 15px 0 rgba(252,104,110,0.75);
  border-radius:50px;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}
